body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background:url(../img/bg-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  margin: 300px 200px;
  padding: 0;
  display: flex;

}

ul li {
  list-style: none;
  padding: 10px 20px;
}

ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  color: #262626;
  position: relative;
}

ul li a:before {
  content: '';
  width: 0px;
  height: 3px;
  background: #3914AF;
  position: absolute;
  top: 120%;
  left: 0;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  mix-blend-mode: multiply;
}

ul li a:after {
  content: '';
  width: 0px;
  height: 3px;
  background: #ECCE8E;
  position: absolute;
  top: 120%;
  right: 0;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  mix-blend-mode: multiply;
}

ul li:hover a:before {
  width: 50%;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

ul li:hover a:after {
  width: 50%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}